.container-carrito{
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: rgb(173, 173, 173);
    margin: 5%;
}
.carrito-pizza{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}
.img-carrito{
    max-width: 5vh;
    max-height: 5vh;
}
.nombre-carrito{
    margin-left: 5%;
}
.pizza{
    display: flex;
    width: 100%;
    flex-direction: row;
}
.precio-pizza{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}
.precio{
    margin-right: 5%;
}
.cantidad-pizza{
    margin-left: 5%;
    margin-right: 5%;
}